<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>
  <header class="site-header">
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar / Navigation Bar -->
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
          <div class="sidebar-header">
            <h3 class="brand text-white">ChatApp</h3>
          </div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('main.home') }}">
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.about') }}">
                <i class="fas fa-info-circle"></i> About
              </a>
            </li>
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('posts.new_post') }}">
                  <i class="fas fa-pencil-alt"></i> New Post
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.account') }}">
                  <i class="fas fa-user-circle"></i> Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('chats.chat_room') }}">
                  <i class="fas fa-comment"></i> Chat Room
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.logout') }}">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </li>
              <li class="nav-item">
                <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="{{ current_user.username }}">
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.login') }}">
                  <i class="fas fa-sign-in-alt"></i> Login
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.register') }}">
                  <i class="fas fa-user-plus"></i> Register
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
  
        <!-- Main Content Area -->
        <main role="main" class="col-12 col-md-10 offset-md-2">
          {% block chat_content %}{% endblock %}
        </main>
      </div>
    </div>
  </header>
  
  
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
